body {
    background-color: #F7F7FC;
    font-family: "apertura", sans-serif;
    font-weight: 500;
   font-style: italic;
}
h1 {
    text-align: center;
    font-size: 38px;
    text-shadow: 11px -8px 8px rgba(32, 54, 88, 0.2);
    color: #203658;
}

h2 { 
    margin: 0 0 5px;
    font-size: 34px;
    color: rgb(32,54,88);
}
select {
    font-size: 16px;
    width: 100%;
    border-radius: 10x;
    padding: 5px;
}
footer {
   font-size: 14px;
   font-family: marigny, sans-serif;
   color: rgb(67, 62, 62);
   text-align: center;
}
.container {
    background-color: white;
    max-width: 600px;
    margin: 50px auto;
    padding: 40px; 
    box-shadow: rgba(100,100,111,0.2) 0px 10px 35px 0px;
    border-radius: 20px;
}

.city {
    display: flex;
    justify-content: space-between;
    padding: 20px  0;
}

.date{
    opacity: 0.7;
    font-size: 16px;
    text-align: left;
}

.time {
    font-size: 34px;
    font-weight: 600;
    color: rgb(32,54,88);
}
.time small {
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}