body {
    background-color: #F7F7FC;
    text-align: center;
    font-family: "apertura", sans-serif;
    font-weight: 400;
    font-style: italic;
}
h2{
    margin: 0 0 5px;
    font-size: 34px;
}
select {
    display: block;
    width: 100%;
    border-radius: 5x;
    padding: 10px;
}
footer {
   font-size: 14px;
   font-family: marigny, sans-serif;
   color: rgb(67, 62, 62);
}
.container {
    background-color: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px; 
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.city {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 20px  0;
    border-bottom: 1 px dashed rgba(0, 0, 0, 0.2);
}

.date{
    opacity: 0.7;
    font-size: 16px;
    text-align: left;
}
.time {
    font-size: 32px;
    font-weight: 600;

}
.time small {
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}